In [1]:
import pandas as pd
import numpy as np 
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
print("setup complete")

setup complete

In [2]:
T_test = pd.read_csv(r"C:\Users\ankit\Documents\T3\test.csv", low_memory=False)
T_train = pd.read_csv(r"C:\Users\ankit\Documents\T3\train.csv", low_memory=False)

In [3]:
old_test=T_test.copy()

In [4]:
idPass = old_test.iloc[:,0]

In [5]:
T_train = T_train.drop(["PassengerId", "Name","Cabin","Ticket"], axis=1)
T_test = T_test.drop(["PassengerId", "Name","Cabin","Ticket"], axis=1)

In [6]:
missing_values_count = T_test.isnull().sum()
missing_values_count[0:10]

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [7]:
missing_values_count = T_train.isnull().sum()
missing_values_count[0:10]

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [8]:
T_train = T_train.fillna({'Embarked': 'S'})

Generally fare will be based on ticket class So, grouping both by mean values

In [9]:
T_test.groupby('Pclass')['Fare'].mean()

Pclass
1    94.280297
2    22.202104
3    12.459678
Name: Fare, dtype: float64

In [10]:
T_test[T_test.Fare.isna()]

     Pclass   Sex   Age  SibSp  Parch  Fare Embarked
152       3  male  60.5      0      0   NaN        S

In [11]:
T_test = T_test.fillna({'Fare': 12.459678})

In [12]:
T_train['Age'] = T_train['Age'].fillna(T_train['Age'].mean())
T_test['Age'] = T_test['Age'].fillna(T_test['Age'].mean())

In [13]:
lbl=LabelEncoder()
categorical=['Sex']
for i in categorical:
 T_train[i]=lbl.fit_transform(T_train[i])
T_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    1  22.0      1      0   7.2500        S
1         1       1    0  38.0      1      0  71.2833        C
2         1       3    0  26.0      0      0   7.9250        S
3         1       1    0  35.0      1      0  53.1000        S
4         0       3    1  35.0      0      0   8.0500        S

In [14]:
lbl=LabelEncoder()
categorical=['Sex']
for i in categorical:
 T_test[i]=lbl.fit_transform(T_test[i])
T_test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0       3    1  34.5      0      0   7.8292        Q
1       3    0  47.0      1      0   7.0000        S
2       2    1  62.0      0      0   9.6875        Q
3       3    1  27.0      0      0   8.6625        S
4       3    0  22.0      1      1  12.2875        S

In [15]:
Em = T_train[['Embarked']]
cat_list = pd.get_dummies(Em)
df=T_train.join(cat_list)
data_vars=df.columns.values.tolist()

In [16]:
Emt = T_test[['Embarked']]
cats_list = pd.get_dummies(Emt)
dft=T_test.join(cats_list)
data_vars=dft.columns.values.tolist()

In [17]:
df = df.drop(["Embarked"], axis = 1)
dft = dft.drop(["Embarked"], axis = 1)

In [18]:
X = df.iloc[:, 1:]
y = df.iloc[:,0]
X_test = dft.iloc[:, 0:]

In [19]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)
X_std_test = scaler.fit_transform(X_test)

In [20]:

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import r2_score,accuracy_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import mean_absolute_error

In [21]:
random_forest = RandomForestClassifier(n_estimators=1000, max_depth=5,random_state=100)
random_forest.fit(X_std, y)
y_pred = random_forest.predict(X_std_test)

In [22]:
submission = pd.DataFrame({'PassengerId':idPass, 'Survived': y_pred})

submission.to_csv('6_depth.csv', index=False)